@using BlogApp.Services
@using BlogApp.Data.CategorySection
@using BlogApp.Data.PostSection

@inject ICategoryService categoryService
@inject IPostService postService

@page "/post/{id:int}"

@if (Post != null)
{

    @if (Post.PostCategories != null)
    {
<ul>

    @foreach (var cat in Post.PostCategories)
    {
        if (cat.Category != null) { }
        <li><a href="/category/@cat.Category.Id">@cat.Category.Name</a></li>
    }
</ul>
    }

    <div>
        <h3>@Post.Title</h3>
        <p>@Post.Published?.ToString("dddd d MMMM yyyy")</p>
        <p>@Post.Content</p>
    </div>
}

@code {
    [Parameter]

    public virtual int? Id { get; set; }

    public virtual Post Post { get; set; }

    //Async method which runs upon app initialised

    protected override async Task OnParametersSetAsync()
    {
        if (Id.HasValue)
        {
            Post = await postService.GetAsync(Id.Value);
        }
        await base.OnParametersSetAsync();
    }

}